[pg_nodes]
centos-patroni-1 ansible_host=192.168.122.200 ansible_user=root
centos-patroni-2 ansible_host=192.168.122.201 ansible_user=root
centos-patroni-3 ansible_host=192.168.122.202 ansible_user=root

[pg_backrest]
centos-patroni-4 ansible_host=192.168.122.203 ansible_user=root

[all:children]
pg_nodes
pg_backrest